body{
    margin: 0;
    display: grid;
    grid-template-areas: 'naruto naruto naruto naruto'
                         'sasuke sasuke sasuke sasuke'  
                         'sakura sakura kakashi kakashi'
                         'minato minato minato minato';
    grid-template-rows: 20vh 15vh 50vh 30vh;
    grid-template-columns: 25% 25% 25% 24%;
    background-color: black;
    grid-gap: 5px;
}
header{
    grid-area: naruto;
    background-color: red;  
    display: flex;
    justify-content: space-around;  
}

header div{
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}
header img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
}
nav{
    align-items: center;
    grid-area: sasuke;
    background-color: #fe7a35;
    justify-content: space-around;
    display: flex;
}

nav a:hover{
    color: white;
    font-weight: bolder;
}

nav a{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

section{
    grid-area: sakura;
    background-color:green;
    display: flex;
    justify-content: center;
    grid-area: 
}

section img{
    width: 100px;
    height: 100
}

section img :hover{
    width: 390px;;
}

aside{
    grid-area: kakashi;
    background-color:yellow;
}
footer{
    grid-area: minato;
    background-color: purple;
}